<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.8/angular.min.js" integrity="sha256-23hi0Ag650tclABdGCdMNSjxvikytyQ44vYGo9HyOrU=" crossorigin="anonymous"></script>
    <script src="app.js"></script>
</head>

<body ng-app="HangmanApp" ng-controller="GameController">
    <div>
        Guesses Left :: {{guesses}}
    </div>
    <div>
        Your Incorrect Guesses :: <span ng-repeat="letter in incorrected">{{letter}}</span>
    </div>
    <div>
        Your Correct Guesses :: <span ng-repeat="letter in corrected">{{letter}}</span>
    </div>
    <div>You have to guess: {{displayWord}}</div>
    <div>
        <div>
            <input type="text" name="guess" ng-model="input.letter">
            <button ng-click="letterChosen()">Submit</button>
        </div>
    </div>

</body>

</html>